<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Ionic Camera App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Botón para tomar una foto -->
  <ion-button expand="full" (click)="takePhoto()">Tomar Foto</ion-button>
  
  <!-- Botón para seleccionar una foto desde la galería -->
  <ion-button expand="full" (click)="selectFromGallery()">Seleccionar desde Galería</ion-button>

  <ion-grid class="photos-grid">
    <ion-row>
      <ion-col size="6" *ngFor="let foto of fotos">
        <!-- Utiliza la propiedad webPath para mostrar la foto -->
        <img [src]="foto.webPath" class="foto-preview" alt="Foto">
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
